*{
    box-sizing: border-box;
}
body{
    margin: 30px 50px 30px 50px;
}
.header{
    height: 280px; width: 100%;
    background: rgb(243, 209, 136);
    text-align: center;
    border: 2px solid rgb(39, 49, 39);
    border-radius: 4px;
}
img{
    height: 140px;
    border: 1px solid rgb(243, 209, 136);
    border-radius: 10px;
}
form>.heading{
    height: 170px; width: 100%;
    background-color: rgb(147, 240, 217);
    text-align: center;
}
form{
    background-color: rgba(235, 238, 216, 0.829);
    padding : 10px;
}
.heading p{
    font-size: 16px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label{
    font-size: 17px;
}
input, textarea{
    width: 100%;
    background-color: rgba(252, 252, 252, 0.534);
    border-radius: 4px;
    padding : 10px;
}
.footer input{
    border: none;
    background-color: rgb(243, 101, 65);
    padding: 12px;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(79, 243, 46);
    border-radius: 6px;
}
