*{
    box-sizing: border-box;
}

body{
    background-color: #393E46;
}

.container{
    margin: auto;
    display: block;
    text-align: center;
    font-weight: bold;
}

.start{
    font-size: 2.5rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

div.players{
    display: inline-block;
    flex-direction: row;
    
}
h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

h4{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

footer{
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}